/* Reinicio básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cuerpo general */
body {
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #6dbf49;
}

.user-icon img {
  width: 30px;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-text {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.5rem;
  font-style: italic;
}