/* --- HERO SECTION --- */
.hero {
  height: 100vh;
  width: 100%;
  background: url("/src/assets/fondo.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  padding-top: 70px; 
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

.hero-text {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.hero p {
  font-size: 1.5rem;
  font-style: italic;
}